.father {
  height: 100vh;
  display: grid;
  gap: 10px;
  background-color: lightblue;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border: 2px solid black;
  font-size: 28px;
  color: white;
}
