@import "./reset.scss";

body {
  background-color: #a2e571;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: content-box;
  width: 100%;
}
img {
  height: 150px;
  width: 100px;
  border-radius: 15px;
}
.phone {
  display: grid;
  grid-template-columns: (7, 1fr);
  width: 80%;
  background-color: #a2e571;
  border: 1px solid black;
  height: 95%;
  border-radius: 15px;
  margin: 0 auto;
  .header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    font-size: 25px;
    border-bottom: 2px solid black;
    border-radius: 15px;
  }
  .bar {
    .bar-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
    }
    .bar-item:nth-child(1) {
      background-color: black;
      font-size: 20px;
      color: #f0f0f0;
      line-height: 1.3em;
    }
    .bar-item:nth-child(2) {
      background-color: #a2e571;
      font-size: 15px;
      border-bottom: 3px solid black;
      .contents:nth-child(1) {
        .contents__text:nth-child(1) {
          font-size: 20px;
        }
      }
      .contents:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        .contents__money {
          margin-right: 10px;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
  }
  .main {
    display: flex;
    padding: 10px;
    background-color: gray;
    gap: 10px;
    .products {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      border: 2px solid black;
      padding: 10px;
    }
    .main__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      .main__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 2px solid black;
        border-radius: 15px;
        height: 16px;
        width: 16px;
      }
      .main__text {
        font-size: 28px;
        box-sizing: border-box;
      }
      .main__money {
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
  .menu-bar {
    background-color: #fff;
    padding: 0px 10px;
    .menu-bar__title {
      font-weight: bold;
      font-size: 45px;
    }
    .menu-bar__items {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 20px;
      .menu-bar__item {
        border: 2px solid black;
        padding: 10px 10px;
        border-radius: 20px;
        &:nth-child(2) {
          background-color: black;
          color: white;
        }
      }
    }
    .menu-bar__tabs {
      display: flex;
      flex-direction: column;
      .menu-bar__tab {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 2px solid black;
        margin-bottom: 20px;
        .tab-item {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 3;
    padding: 10px;
  }
}
