@import "./reset.scss";

$grey: #cacdcd;
$bgColor: #36ba98;
$subTitle: #1f1414;
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  background-color: $bgColor;
}

.phone {
  width: 380px;
  height: 95%;
  background-color: $grey;
  border-radius: 15px;
}

.header {
  padding: 50px 15px 20px 15px;
  border-bottom: 2px solid rgba($color: $grey, $alpha: 1);
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;

  .header__title {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
  }

  .header__carts {
    position: relative;
    .carts__count {
      position: absolute;
      font-size: 15px;
      background-color: black;
      border-radius: 15px;
      display: flex;
      height: 20px;
      width: 20px;
      justify-content: center;
      align-items: center;
      top: -7px;
      left: 7px;
    }
  }
}

.subtitle {
  background-color: $subTitle;
  padding: 20px 15px;
  color: #dee2e2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  font-weight: 600;
  .subtitle__price {
    font-size: 30px;
  }
  .subtitle__detail {
    font-size: 14px;
  }
}
.item {
  position: relative;
  .item__info {
    background-color: #d7dbdb;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 15px;
    position: relative;
    .item__col {
      display: flex;
      flex-direction: column;
      padding: 15px;
      .item__col-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .item__col-subtitle {
        font-size: 15px;
      }
      &:nth-child(2) {
        display: flex;
        align-items: flex-end;
        .item__col-price {
          font-size: 28px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .item__col-detail {
          font-size: 15px;
        }
      }
    }
  }
}

.item__specs {
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  border: 5px solid black;
  .spec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px;
    font-weight: 500;
    gap: 5px;
    &:nth-child(1) {
      border-right: 5px solid black;
    }
  }
}
.item__photo {
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
  border: 5px solid black;
  width: 33%;
  height: 60%;
  top: 109px;
  right: 20px;
}
